body {
  margin: 0;
  font-family: 'Montserrat', serif;
}

html{
  scroll-behavior: smooth;
  transition-duration: 2s;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat-light';
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

.fronthead{
  position: absolute;
  font-size: 4vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quirks{
  position: absolute;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.topp{
  position: static;
  z-index: 10;
  top: 0;
}

.navbar-brand{
  padding-left: 15%;
}
.nav-item{
  margin-right: 40px;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
a:hover {
  color: #EAF6F6;
}

.details{
  text-align: left;
}

.row{
  width: 80%;
  padding-left: 20%;
}

.imgur:hover{
  width: 250px;
}

.top{
  position: relative;
  text-align: center;
}

.middle-container {
  margin: 5% 0 ;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 5% auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile{
  text-align: center;
}

.skills{
  padding: 3% 0;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
}

.contact-me{
  text-align: center;
  margin: 5% 0;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.web-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-container{
  text-align: center;
  background-color: #000;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
